body
{
  margin-top: 0%;
  margin-left:50px;
  margin-right: 50px;
  background-color: rgb(43, 41, 41);
}

header
{
  border-bottom: 1px solid white ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.header-left-side
{
  color: rgb(225, 225, 225);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}

.header-middle-section-left
{
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-middle-text
{
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  margin-left:20px;
  color: rgb(225, 225, 225);
}

.header-middle-section-right
{
  padding-left: 100px;
  width: 100px;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-middle-right-picture
{
margin-left: 10px;
}

.header-right-section
{
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.header-right-section-button
{
  box-shadow: 3px 3px black;
  font-style:normal;
  font-weight: 500;
  font-size:15px;
  height: 40px;
  width: 150px;
  color: black;
  background-color: rgb(255, 207, 119);
}