body
{
  margin: 0;
  padding: 0;
}

body, header, footer, a{
  color: white;
  background-color: rgb(43, 41, 41);
}



header
{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 10%;
  align-items: center;
  height: 150px;
  cursor: pointer;
}

.header-left-side
{
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}

.header-middle
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
  padding-left:5%;
}

.header-middle-left 
{
  padding-left:10%;
  display: flex;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-middle-left a
{
  text-decoration: none;
}


.header-middle-section-right
{
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
}

.header-middle-right-picture
{
margin-left: 10px;
}

.header-right-section
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.header-right-section-button
{
  cursor: pointer;
  box-shadow: 3px 3px black;
  font-style:normal;
  font-weight: 500;
  font-size:15px;
  height: 40px;
  width: 150px;
  color: black;
  background-color: rgb(255, 207, 119);
}